.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.coverage
.coverage.*
.DS_Store
htmlcov/
dist/
build/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
data/
minio/
postgres/
reports/
models/
.alembic_cache/
